.outer_most_box{
    width: 100%;
    height: auto;
    text-align: center;
}

#blue_text{
    color: blue;
}

.protect{
    width: 100%;
    height: auto;
    /* border: 1px dotted black; */
}

.certified{
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    flex-grow: 1;
    height: auto;
    /* border: 1px dotted black; */
    margin-left: 440px;
}

.logo{
    width: 100%;
    height: auto;
    /* border: 1px dotted black; */
}